<div class="center-block">
<<<<<<< HEAD
    <form class="form-horizontal" id="createMembre" action='/membre/create' method='POST'>

        <% if( flash && flash.erreur ){ %>        
          <ul class="alert alert-warning">
               <li><%- flash.erreur %></li>
          </ul>
        <% } %>
=======
    <form class="form-horizontal" action='/membre/create' method='POST'>
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
     
      <div class="form-group">
        <div class="col-xs-4">
            <label for="pseudo">Pseudo</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="mem_pseudo" name="mem_pseudo" placeholder="Enter pseudo">
=======
            <input type="text" class="form-control" name="mem_pseudo" placeholder="Enter pseudo">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="mdp">Mot de passe</label>
<<<<<<< HEAD
            <input type="password" class="form-control" id="mem_mdp" name="mem_mdp" placeholder="Mot de passe">
=======
            <input type="password" class="form-control" name="mem_mdp" placeholder="Mot de passe">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4"> 
            <label for="nom">Nom</label>
<<<<<<< HEAD
            <input type="text" class="form-control"  id="mem_nom" name="mem_nom" placeholder="Nom">
=======
            <input type="text" class="form-control" name="mem_nom" placeholder="Nom">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="prenom">Prenom</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="mem_prenom" name="mem_prenom" placeholder="Prenom">
=======
            <input type="text" class="form-control" name="mem_prenom" placeholder="Prenom">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="mail">Mail</label>
<<<<<<< HEAD
            <input type="email" class="form-control" id="mem_mail" name="mem_mail" placeholder="Mail">
=======
            <input type="email" class="form-control" name="mem_mail" placeholder="Mail">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="dateNaiss">Date de Naissance</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="mem_date_naissance" name="mem_date_naissance" placeholder="Date de Naissance">
=======
            <input type="text" class="form-control" name="mem_date_naissance" placeholder="Date de Naissance">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6">
            <label for="Adresse1">Adresse 1</label>
<<<<<<< HEAD
            <textarea class="form-control" id="mem_adresse1" name="mem_adresse1" rows="3"></textarea>
=======
            <textarea class="form-control" name="mem_adresse1" rows="3"></textarea>
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>  

      <div class="form-group">
        <div class="col-xs-6">
            <label for="Adresse2">Adresse 2</label>
<<<<<<< HEAD
            <textarea class="form-control" id="mem_adresse2" name="mem_adresse2" rows="3"></textarea>
=======
            <textarea class="form-control" name="mem_adresse2" rows="3"></textarea>
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div> 

      <div class="form-group">
        <div class="col-xs-4">
            <label for="cp">Code Postale</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="mem_cp" name="mem_cp" placeholder="Code postale">
=======
            <input type="text" class="form-control" name="mem_cp" placeholder="Code postale">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="ville">Ville</label>
<<<<<<< HEAD
            <input type="text" class="form-control" id="mem_ville" name="mem_ville" placeholder="Ville">
=======
            <input type="text" class="form-control" name="mem_ville" placeholder="Ville">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-8">
            <label for="facebook">Facebook</label>
<<<<<<< HEAD
            <input type="url" class="form-control" id="mem_facebook" name="mem_facebook" placeholder="Facebook">
=======
            <input type="url" class="form-control" name="mem_facebook" placeholder="Facebook">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>    
      </div>  

      <div class="form-group">
        <div class="col-xs-8">
            <label for="twitter">Twitter</label>
<<<<<<< HEAD
            <input type="url" class="form-control" id="mem_twitter" name="mem_twitter" placeholder="Twitter">
=======
            <input type="url" class="form-control" name="mem_twitter" placeholder="Twitter">
>>>>>>> 7ec64219bd33b2f25b1f29a96b016ebd8402178a
        </div>
      </div>    

      <button type="submit" class="btn btn-primary">Ajouter</button>
      <button type="reset" class="btn btn-danger">Annuler</button>
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
    </form>
</div>